<footer>
  <div class="section-ons">
    <p>Create your own Meetup group.</p>

    <button>Get Started</button>
  </div>

  <hr class="footer-separator" />

  <div class="container-section-two">
    <div class="navigation">
      <p>Your Account</p>
      <ul>
        <li>Sign up</li>
        <li>Log in</li>
        <li>Help</li>
        <li>Become an Affiliate</li>
      </ul>
    </div>

    <div class="navigation">
      <p>Discover</p>
      <ul>
        <li>Groups</li>
        <li>Calendar</li>
        <li>Topics</li>
        <li>Cities</li>
        <li>Online Events</li>
        <li>Local Guides</li>
        <li>Make Friends</li>
      </ul>
    </div>

    <div class="navigation">
      <p>Meetup</p>
      <ul>
        <li>About</li>
        <li>Blog</li>
        <li>Meetup Pro</li>
        <li>Careers</li>
        <li>Apps</li>
        <li>Podcast</li>
      </ul>
    </div>
  </div>
  <div class="container-section-three">
    <p class="followUs">Follow us</p>

    <div class="container-socialMedia-and-markets">
      <div class="social-media">
        <a href="https://facebook.com" class="social-icon">
          <img src="assets/icons/Facebook.svg" alt="" />
        </a>
        <a href="https://twitter.com" class="social-icon">
          <img src="assets/icons/Vogel.svg" alt="" />
        </a>
        <a href="https://www.youtube.com/" class="social-icon">
          <img src="assets/icons/Youtub.svg" alt="" />
        </a>
        <a href="https://www.instagram.com" class="social-icon">
          <img src="assets/icons/Instagram.png" alt="" />
        </a>

        <a href="https://www.tiktok.com" class="social-icon">
          <img src="assets/icons/TikTok.svg" alt="" />
        </a>
      </div>

      <div class="markets">
        <img src="assets/icons/Download app from Google Play.png" alt="" />
        <img src="assets/icons/Download app from App Store.svg" alt="" />
      </div>
    </div>

    <div class="footer-inform">
      <p>© 2024 Meetup</p>
      <p>Terms of Service</p>
      <p>Privacy Policy</p>
      <p>Do Not Sell or Share My Personal Data</p>
      <p>Cookie Policy</p>
      <p>Help</p>
    </div>

    <p class="mobal-footer-inform">© 2024 Meetup</p>
  </div>
</footer>
