<header class="container-header">
  <div class="left-header">
    <a href="http://127.0.0.1:5501/main.html">
      <img class="logo" src="assets/icons/logo.svg" alt=""
    /></a>

    <input type="text" id="searchInput" placeholder="Search events" />
    <input
      type="text"
      class="counter-input"
      name="text"
      placeholder="Mountain View, CA"
    />
    <button class="search">
      <img src="assets/icons/lupaWhite.svg" alt="" />
    </button>
  </div>

  <div class="richt-header">
    <img class="logo-mobil" src="assets/icons/logo.svg" alt="" />
    <img class="land_svg" src="assets/icons/land.svg" alt="" />

    <p class="language">English</p>

    <a href="" class="login-header">Login</a>
    <button class="signAp-button">Sign up</button>
    <p></p>
  </div>
</header>
