// contaiter HEADER
.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  max-width: 1512px;
  width: 100%;
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    margin: 10px 40px 10px 15px;
    width: 118px;
    cursor: pointer;
  }

  #searchInput {
    background: url(/assets/icons/lupaBlack.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px 20px;
    padding: 11px 24px 11px 37px;
    width: 300px;
    border-radius: $bordeRadius-input;
    border: 1px solid #d9d9d9;
    color: $color-input;
    font-size: 16px;
  }
}

.counter-input {
  border: 1px solid #d9d9d9;
  color: $color-input;
  padding: 11px 93px 11px 17px;
  font-size: 16px;
}

.search {
  background-color: red;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

.logo-mobil {
  display: none;
}
.search > img {
  width: 15px;
  height: 15px;
}

.richt-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.land_svg {
  padding-right: 7px;
}
.language,
.login-header {
  padding-right: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.signAp-button {
  width: 83px;
  border: none;
  background-color: $backroundColor-button;
  border-radius: $borderRadius-button;
  color: $color-text;
  padding: $padding-button;
  margin-right: 22px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.signAp-button:hover {
  background-color: rgb(255, 82, 154);
  color: $colorText;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1440px) {
  // HEADER
  .container-header {
    gap: 10%;
  }
}

@media screen and (max-width: 1024px) {
  // HEADER

  .counter-input {
    display: none;
  }
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .container-header {
    flex-wrap: wrap;
  }
  .left-header {
    width: 100%;
  }
  .richt-header {
    width: 100%;
  }

  #searchInput {
    width: 75% !important;
  }
  .logo {
    display: none;
  }

  .logo-mobil {
    display: block;
    margin-right: 25%;
    margin-left: 10px;
  }

  .left-header {
    flex-basis: 100%;
    order: 1;
  }
  #searchInput,
  .search {
    margin-top: 10px;
  }
}

@media screen and (max-width: 576px) {
  .logo-mobil {
    margin-left: 15px;
    margin-right: 10%;
  }
}
@media screen and (max-width: 425px) {
  .richt-header {
    margin-right: 20px;
  }
}
@media screen and (max-width: 398px) {
  .container-header {
    min-width: 320px;
  }
  .logo-mobil,
  #searchInput {
    margin-left: $margen-left;
  }

  .language,
  .login-header {
    padding-right: 7px;
  }
}
