.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  max-width: 1512px;
  width: 100%;
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-header .logo {
  margin: 10px 40px 10px 15px;
  width: 118px;
  cursor: pointer;
}
.left-header #searchInput {
  background: url(/assets/icons/lupaBlack.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px 20px;
  padding: 11px 24px 11px 37px;
  width: 300px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #d9d9d9;
  color: #707070;
  font-size: 16px;
}

.counter-input {
  border: 1px solid #d9d9d9;
  color: #707070;
  padding: 11px 93px 11px 17px;
  font-size: 16px;
}

.search {
  background-color: red;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

.logo-mobil {
  display: none;
}

.search > img {
  width: 15px;
  height: 15px;
}

.richt-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.land_svg {
  padding-right: 7px;
}

.language,
.login-header {
  padding-right: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.signAp-button {
  width: 83px;
  border: none;
  background-color: #00798a;
  border-radius: 8px;
  color: white;
  padding: 10px 16px;
  margin-right: 22px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .container-header {
    gap: 10%;
  }
}
@media screen and (max-width: 1024px) {
  .counter-input {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container-header {
    flex-wrap: wrap;
  }
  .left-header {
    width: 100%;
  }
  .richt-header {
    width: 100%;
  }
  #searchInput {
    width: 75% !important;
  }
  .logo {
    display: none;
  }
  .logo-mobil {
    display: block;
    margin-right: 25%;
    margin-left: 10px;
  }
  .left-header {
    flex-basis: 100%;
    order: 1;
  }
  #searchInput,
  .search {
    margin-top: 10px;
  }
}
@media screen and (max-width: 576px) {
  .logo-mobil {
    margin-left: 15px;
    margin-right: 10%;
  }
}
@media screen and (max-width: 425px) {
  .richt-header {
    margin-right: 20px;
  }
}
@media screen and (max-width: 398px) {
  .container-header {
    min-width: 320px;
  }
  .logo-mobil,
  #searchInput {
    margin-left: 20px;
  }
  .language,
  .login-header {
    padding-right: 7px;
  }
}
footer {
  background-color: #212121;
  max-width: 1512px;
  width: 100%;
}

.section-ons {
  display: flex;
  max-width: 1120px;
  align-items: center;
  margin: 34px 196px;
  gap: 36px;
}

.section-ons > p {
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-top: 34px;
}

.section-ons > button {
  color: white;
  background-color: #212121;
  border: 2px solid white;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 14px;
  border-radius: 8px;
  margin-top: 34px;
  cursor: pointer;
}

.footer-separator {
  border: 1px solid #474646;
  width: 1120px;
  margin-left: 196px;
}

.container-section-two {
  color: white;
  display: flex;
  max-width: 1120px;
  margin: 34px 196px;
}

.navigation > p {
  padding-bottom: 7px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
}

ul > li:last-of-type {
  margin-right: 214px;
  white-space: nowrap;
}

li {
  list-style-type: none;
}

.container-section-three {
  max-width: 1120px;
  margin: 34px 196px;
  padding-bottom: 40px;
}

.followUs {
  color: white;
}

.container-socialMedia-and-markets {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 24px 0;
  cursor: pointer;
}

.social-media {
  display: flex;
  gap: 32px;
}

.social-media > img {
  width: 30px;
  height: 30px;
}

.social-media .social-icon:hover {
  transition: all 1s ease-out;
  transform: scale(1.5);
  background-color: rgb(211, 12, 12);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer-inform {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
}

.mobal-footer-inform {
  display: none;
}

@media screen and (max-width: 1440px) {
  .footer-inform {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  ul > li:last-of-type {
    margin-right: 10em;
  }
}
@media screen and (max-width: 992px) {
  .section-ons {
    margin: 30px 5px 35px 88px;
    gap: 15px;
  }
  .footer-separator {
    width: 75%;
    margin-left: 88px;
  }
  .container-section-two,
  .container-section-three {
    margin-left: 88px;
  }
  .markets,
  .footer-inform {
    display: none;
  }
  .mobal-footer-inform {
    display: block;
    color: white;
  }
}
@media screen and (max-width: 768px) {
  ul > li:last-of-type {
    margin-right: 6em;
  }
}
@media screen and (max-width: 576px) {
  ul > li:last-of-type {
    margin-right: 1em;
  }
  .section-ons,
  .footer-separator,
  .container-section-two,
  .container-section-three {
    margin-left: 3em;
  }
}
@media screen and (max-width: 425px) {
  .section-ons,
  .footer-separator,
  .container-section-two,
  .container-section-three {
    margin-left: 2em;
  }
  .section-ons > button {
    padding: 10px 5px;
  }
  .markets,
  .footer-inform {
    display: none;
  }
  .mobal-footer-inform {
    display: block;
    color: white;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

main {
  margin: 0 158px 0 158px;
}

.combobox-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
  max-width: 1196px;
}

.combobox-menu-left {
  flex: 1;
}

.combobox-menu-left > h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}

.combobox-menu-left > a > p {
  color: #00798a;
  margin-bottom: 12px;
}

.button-filter-container {
  display: flex;
  gap: 18px;
  margin-bottom: 56px;
}

.button-filter {
  padding: 16px;
  border-radius: 35px;
  background-color: #f6f7f8;
  border: none;
  cursor: pointer;
}

select {
  border: none;
  background-color: #f6f7f8;
  border-radius: 40px;
  cursor: pointer;
}

.combobox-menu-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: center;
  position: relative;
  padding-left: 219px;
}

.text-menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-menu-box > p {
  font-size: 12px;
  line-height: 16px;
}

.text-menu-box > h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.map-box {
  position: relative;
  position: absolute;
  display: inline-block;
  top: 52px;
  right: 0px;
}

.map {
  width: 100%;
  height: auto;
}

.button-close {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
  z-index: 1;
}

.browse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 48px 12px 24px;
  border-radius: 10px;
  border: 1px solid #00798a;
  color: #00798a;
  cursor: pointer;
  background-image: url(/assets/icons/expandMapIcon.svg);
  background-repeat: no-repeat;
  background-position: 120px;
}

.expandMapIcon {
  display: none;
}

.container_meetup {
  max-width: 1196px;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}

hr {
  border: 1px solid lightgray;
  max-width: 604px;
  margin-left: 0;
}

.container-meetup {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.container-meetup > img {
  width: 159px;
  min-height: 125px;
}

.container_meetup > .container-meetup:first-child {
  margin-bottom: 75px;
}

.container-meetup {
  margin-top: 20px;
}

.list-of-meetup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-of-meetup > p:first-child {
  font-size: 14px;
  line-height: 20px;
  color: #7c6f50;
  text-transform: uppercase;
}

.list-of-meetup > p:last-child {
  margin-top: 48px;
  margin-bottom: 13px;
  color: #707070;
}

.list-of-meetup > h5 {
  font-size: 14px;
  line-height: 20px;
  color: #707070;
}

.mobil-frei {
  display: none;
}

p > span {
  margin-left: 15px;
}

@media screen and (max-width: 1440px) {
  .combobox-menu-left {
    margin-right: 10%;
    white-space: nowrap;
  }
  .combobox-menu-right {
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 10em;
  }
  .map-box {
    top: 62px;
    left: 150px;
  }
  .browse {
    display: none;
  }
  .expandMapIcon {
    display: flex;
    position: absolute;
    background-image: url(/assets/icons/expandMapIcon.svg);
    padding: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 1px solid #00798a;
    border-radius: 5px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 1224px) {
  .combobox-menu-right {
    padding-left: 4em;
  }
  .map-box {
    top: 52px;
    left: 15%;
  }
}
@media screen and (max-width: 1024px) {
  main {
    margin: 0 100px 0 158px;
  }
  .combobox-menu-left {
    margin-right: 0px;
    overflow-x: scroll;
  }
  .button-filter-container {
    white-space: nowrap;
  }
  .combobox-menu-left > h3 {
    font-size: 26px;
  }
  .combobox-menu-right {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  main {
    margin: 0 100px 0 100px;
  }
}
@media screen and (max-width: 768px) {
  main {
    margin: auto;
    max-width: 80%;
  }
}
@media screen and (max-width: 576px) {
  main {
    margin: auto;
    max-width: 80%;
  }
  .container-meetup > img {
    width: 98px;
    min-height: 55px;
    max-height: 100px;
  }
  .list-of-meetup > p:last-child {
    margin-top: 18px;
  }
  p > span {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .technology {
    margin-bottom: 1em;
  }
}
.combobox-menu-left > h3 {
  font-size: 1.5em;
  overflow-wrap: break-word;
}

@media screen and (max-width: 398px) {
  main {
    margin: auto;
    max-width: 80%;
  }
  .combobox-menu-left {
    margin-right: 0px;
    width: 470px;
  }
  .button-filter-container {
    display: flex;
    flex-wrap: wrap;
  }
  .container_meetup > .container-meetup:first-child {
    margin-bottom: 1em;
  }
  .list-of-meetup > p:last-child {
    margin-top: 8px;
    color: #707070;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.container-website {
  max-width: 1512px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  margin: 0 158px 0 158px;
}

.fahrrad {
  display: flex;
  align-items: center;
  max-width: 1196px;
}

.left_container {
  display: flex;
  flex-direction: column;
  margin-top: 98px;
  margin-bottom: 98px;
  gap: 24px;
  margin-right: 54px;
  max-width: 608px;
}

.left_container > h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  color: #212121;
}

.left_container > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.join-meetup {
  background-color: #00798a;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  width: 125px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}

.join-meetup:hover {
  background-color: rgb(255, 82, 154);
  color: #212121;
  transition: all 0.5s ease;
}

.right_container > img {
  max-width: 379px;
  max-height: 269px;
}

.heading-container {
  display: flex;
  max-width: 1196px;
  width: 100%;
  justify-content: space-between;
  margin-top: 122px;
}

.left-heading {
  display: flex;
  gap: 25px;
}

.left-heading > h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  color: #212121;
}

.left-heading > input {
  background-color: rgba(151, 202, 209, 0.08);
  color: #00798a;
  background-image: url(/assets/icons/Link.svg);
  background-repeat: no-repeat;
  background-position: 240px;
  border: none;
  padding-left: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  border-radius: 5px;
}

.right-heading {
  display: flex;
  align-items: center;
}

.right-heading > a {
  color: #00798a;
}

.plan-of-events {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1196px;
  margin-top: 24px;
}

.media-container {
  display: none;
}

.banner-event {
  display: flex;
  position: relative;
  max-width: 272px;
  max-height: 153px;
}

.onlineEvent {
  position: absolute;
  top: 0;
  background-image: url(/assets/icons/camera.svg);
  background-position: 5px;
  background-repeat: no-repeat;
  width: 105px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #707070;
  border: none;
  padding: 2px 16px 5px 25px;
  margin-left: 7px;
  margin-top: 5px;
  border-radius: 4px;
  background: linear-gradient(90deg, yellow, orange, red, pink, yellow);
  background-size: 400% 100%;
  animation: colorBlinkEffect 6s linear infinite;
}

@keyframes colorBlinkEffect {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.onlineEvent:hover {
  background-color: #dfccf8;
}

.event-discription {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.title-event {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #212121;
}

.event-discription > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #707070;
  padding: 10px 0 10px;
}

.date-of-the-event {
  display: flex;
  gap: 6px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.date-of-the-event > a {
  text-transform: uppercase;
  color: #212121;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.number-of-participants,
.format-of-the-event {
  display: flex;
  gap: 2px;
}

.number-of-participants > a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212121;
}

.format-of-the-event {
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

.join-meetup-signUp {
  display: flex;
  align-items: center;
  max-width: 1196px;
  width: 100%;
  margin-top: 24px;
  background-color: rgba(151, 202, 209, 0.08);
}

.join_meetup_sign_up {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 56px;
}

.mobil-hands-in-the-air {
  display: none;
}

.join_meetup_sign_up > h3 {
  font-size: 28px;
  line-height: 36px;
  color: #212121;
}

.join_meetup_sign_up > p {
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  padding-right: 75px;
  max-width: 665px;
}

.signUp {
  width: 192px;
  color: white;
  background-color: #e32359;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  border: none;
  padding: 8px 67px;
  cursor: pointer;
}

.join_meetup_image {
  margin: 20px 56px 20px 90px;
}

.explore-top-categories {
  display: flex;
  gap: 24px;
  flex-direction: column;
  max-width: 1196px;
  width: 100%;
  margin-top: 64px;
}

.explore-top-categories > h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

.container-top-categories {
  display: flex;
  justify-content: space-between;
}

.categorie:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 3px 3px 5px rgb(198, 155, 155), 1em 0.4em 10px olive;
}

.categorie {
  display: flex;
  flex-direction: column;
  justify-items: end;
  align-items: center;
  background-color: rgba(151, 202, 209, 0.08);
  gap: 6px;
  width: 135px;
  height: 112px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.categorie > img {
  padding-top: 22px;
}

.popular-cities-on-meetup {
  display: flex;
  gap: 24px;
  flex-direction: column;
  max-width: 1196px;
  width: 100%;
  margin-top: 64px;
}

.popular-cities-on-meetup > h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

.popular-cities-on-meetup > p {
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}

.container-popular-cities {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.cities-on-meetup {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 24px;
}

.cities-on-meetup:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
  cursor: pointer;
}

.cities-on-meetup > p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.how-meetup-works {
  max-width: 1196px;
  width: 100%;
  margin-top: 64px;
}

.how-meetup-works > h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

#inform-create {
  display: flex;
  margin-top: 24px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  justify-content: space-between;
}

.inform-block,
.block-create-group {
  display: flex;
  background-color: rgba(151, 202, 209, 0.08);
}

.lupa,
.plus {
  padding: 32px 24px 24px;
}

.inform-container,
.create-group {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 32px 129px 24px 0;
}

.inform-container > p:last-of-type,
.create-group > p:last-of-type {
  color: #00798a;
  cursor: pointer;
}

.new-friendships-on-meetup {
  display: flex;
  gap: 24px;
  flex-direction: column;
  max-width: 1196px;
  width: 100%;
  margin-top: 64px;
}

.new-friendships-on-meetup > h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

.new-friendships-on-meetup > p {
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}

.container-howTo-make-friends {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.howTo-make-friends > h4 {
  margin: 24px 0 12px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.howTo-make-friends > p:first-of-type {
  color: #707070;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
}

.howTo-make-friends > p:last-of-type {
  color: #00798a;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .plan-of-events {
    grid-template-columns: repeat(3, 1fr);
    transition: all 3ms ease;
    gap: 25px;
    justify-items: center;
  }
  .container-top-categories {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 23px;
         column-gap: 23px;
    row-gap: 11px;
    margin-left: 32px;
    margin-right: 54px;
  }
  .container-popular-cities {
    flex-wrap: wrap;
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
  .container-howTo-make-friends {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 2px;
         column-gap: 2px;
  }
  .howTo-make-friends {
    padding-right: 10px;
  }
  .howTo-make-friends > img {
    max-width: 364px;
    max-height: 185px;
    margin-top: 32px;
  }
}
@media screen and (max-width: 1024px) {
  main {
    margin: 0 100px 0 158px;
  }
  .fahrrad {
    flex-direction: column;
    margin-left: 0;
  }
  .left_container {
    margin: 30px 21px 10px 21px;
  }
  .left_container > h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .join-meetup {
    display: none;
  }
  .left_container > p {
    font-size: 12px;
  }
  .heading-container {
    margin: 20px 0px 10px 0px;
  }
  .left-heading > input {
    max-width: 239px;
    background-position: 200px;
  }
  .plan-of-events {
    grid-template-columns: repeat(2, 1fr);
  }
  .join_meetup_sign_up {
    margin-left: 6px;
  }
  .join_meetup_image {
    margin: 20px 56px 20px 20px;
  }
  .container-popular-cities {
    margin: 0 29px 0 26px;
  }
  .cities-on-meetup > img {
    width: 153px;
    height: 153px;
  }
  .mobil-none {
    display: none;
  }
  #inform-create {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    row-gap: 12px;
  }
}
@media screen and (max-width: 992px) {
  main {
    margin: 0 100px 0 100px;
  }
  .heading-container {
    justify-content: center;
  }
  .left-heading {
    gap: 5px;
    justify-self: start;
  }
  .right-heading {
    display: none;
  }
  .join_meetup_sign_up > p {
    padding-right: 5px;
  }
}
@media screen and (max-width: 768px) {
  main {
    margin: auto;
    max-width: 80%;
  }
  .plan-of-events {
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
  }
  br {
    display: none;
  }
  .imagSU {
    display: none;
  }
  .mobil-hands-in-the-air {
    display: block;
    justify-items: center;
    align-self: center;
    max-width: 238px;
    max-height: 136px;
  }
  .signUp {
    display: block;
    justify-items: center;
    align-self: center;
  }
}
@media screen and (max-width: 576px) {
  main {
    margin: auto;
    max-width: 80%;
  }
  .right_container > img {
    max-width: 215px;
    max-height: 152px;
  }
  .heading-container {
    justify-content: start;
  }
  .left-heading > h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .left-heading > input {
    font-size: 18px;
    line-height: 16px;
  }
  .plan-of-events {
    grid-template-columns: none;
  }
  .grid-container {
    display: none;
  }
  .media-container {
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: 90%;
  }
  .plan-of-events-media {
    display: flex;
    gap: 10px;
    padding-top: 10px;
  }
  .date-of-the-event-media {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
  }
  .date-event {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #7c6f50;
    font-weight: 600;
  }
  .title-event-media {
    font-size: 14px;
    line-height: 16px;
  }
  .leisure {
    color: #707070;
    font-size: 9px;
    line-height: 12px;
  }
  .online_event {
    background-image: url(/assets/icons/camera.svg);
    background-repeat: no-repeat;
    background-position: 0;
    padding-left: 20px;
    border: none;
    font-size: 12px;
    line-height: 12px;
  }
  .number-attendees {
    margin-top: 16px;
    font-size: 9px;
    line-height: 12px;
  }
  .container-top-categories {
    -moz-column-gap: 3px;
         column-gap: 3px;
    row-gap: 10px;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
  }
  .popular-cities-on-meetup {
    -moz-column-gap: 1px;
         column-gap: 1px;
    row-gap: 1px;
  }
  .container-popular-cities {
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .search {
    margin-right: 31px;
  }
  .signAp-button {
    width: 71px;
    padding: 7px 13px;
    margin-right: 7px;
    font-size: 12px;
    font-weight: 500;
  }
  .language,
  .login-header {
    padding-right: 10px;
    font-size: 12px;
    font-weight: 500;
  }
  .left-heading > h3 {
    font-size: 14px;
    line-height: 16px;
    padding: 5px;
  }
  .left-heading > input {
    font-size: 14px;
    line-height: 16px;
    background-position: 160px;
    max-width: 190px;
    padding: 5px;
  }
}
@media screen and (max-width: 398px) {
  main {
    margin: auto;
    max-width: 80%;
  }
  .left-heading > h3 {
    font-size: 12px;
    line-height: 16px;
  }
  .join_meetup_sign_up > h3 {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */