@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

// contaiter HEADER
.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  max-width: 1512px;
  width: 100%;
  border: 2px solid blue;
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    margin: 10px 40px 10px 15px;
    width: 118px;
  }

  #searchInput {
    background: url(/assets/icons/lupaBlack.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px 20px;
    padding: 11px 24px 11px 37px;
    width: 300px;
    border-radius: $bordeRadius-input;
    border: 1px solid #d9d9d9;
    color: $color-input;
    font-size: 16px;
  }
}

.counter-input {
  border: 1px solid #d9d9d9;
  color: $color-input;
  padding: 11px 93px 11px 17px;
  font-size: 16px;
}

.search {
  background-color: red;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 0px 8px 8px 0px;
}

.logo-mobil {
  display: none;
}
.search > img {
  width: 15px;
  height: 15px;
}

.richt-header {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.land_svg {
  padding-right: 7px;
}
.language,
.login-header {
  padding-right: 20px;
  font-size: 14px;
  font-weight: 500;
}

.signAp-button {
  width: 83px;
  border: none;
  background-color: $backroundColor-button;
  border-radius: $borderRadius-button;
  color: $color-text;
  padding: $padding-button;
  margin-right: 22px;
  font-size: 14px;
  font-weight: 500;
}

// container MAIN section 1 - fahrrad

.fahrrad {
  display: flex;
  align-items: center;
  border: 3px solid lightgreen;
  max-width: 1196px;
  margin-left: 158px;
}

.left_container {
  display: flex;
  flex-direction: column;
  margin-top: 98px;
  margin-bottom: 98px;
  gap: 24px;
  margin-right: 54px;
  max-width: 608px;
}
.left_container > h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  color: $colorText;
}
.left_container > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.join-meetup {
  background-color: $backroundColor-button;
  border-radius: $borderRadius-button;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text;
  width: 125px;
  padding: $padding-button;
  border: none;
  cursor: pointer;
}
.join-meetup:hover {
  background-color: rgb(255, 82, 154);
  color: $colorText;
  transition: all 0.5s ease;
}

.right_container > img {
  max-width: 379px;
  max-height: 269px;
}

@media screen and (max-width: 1440px) {
  .container-header {
    gap: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .counter-input {
    display: none;
  }
  .fahrrad {
    flex-direction: column;
    margin-left: 0;
  }
  .left_container {
    margin: 30px 21px 10px 21px;
  }
  .left_container > h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .join-meetup {
    display: none;
  }
  .left_container > p {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .container-header {
    flex-wrap: wrap;
  }
  .left-header {
    width: 100%;
  }
  .richt-header {
    width: 100%;
  }

  #searchInput {
    width: 75% !important;
  }
  .logo {
    display: none;
  }

  .logo-mobil {
    display: block;
    margin-right: 25%;
    margin-left: 10px;
  }

  .left-header {
    flex-basis: 100%;
    order: 1;
  }
}

@media screen and (max-width: 576px) {
  .logo-mobil {
    margin-left: 15px;
    margin-right: 15%;
  }

  .right_container > img {
    max-width: 215px;
    max-height: 152px;
  }
}
@media screen and (max-width: 425px) {
  .search {
    margin-right: 31px;
  }

  .signAp-button {
    width: 71px;
    padding: 7px 13px;
    margin-right: 7px;
    font-size: 12px;
    font-weight: 500;
  }
  .language,
  .login-header {
    padding-right: 10px;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (max-width: 398px) {
  .container-header {
    min-width: 320px;
  }
  .logo-mobil,
  #searchInput {
    margin-left: $margen-left;
  }

  .language,
  .login-header {
    padding-right: 7px;
  }
}
