@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

// contaiter HEADER
.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  max-width: 1512px;
  width: 100%;
  border: 2px solid blue;
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    margin: 10px 40px 10px 15px;
    width: 118px;
  }

  #searchInput {
    background: url(/assets/icons/lupaBlack.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px 20px;
    padding: 11px 24px 11px 37px;
    width: 300px;
    border-radius: $bordeRadius-input;
    border: 1px solid #d9d9d9;
    color: $color-input;
    font-size: 16px;
  }
}

.counter-input {
  border: 1px solid #d9d9d9;
  color: $color-input;
  padding: 11px 93px 11px 17px;
  font-size: 16px;
}

.search {
  background-color: red;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 0px 8px 8px 0px;
}

.logo-mobil {
  display: none;
}
.search > img {
  width: 15px;
  height: 15px;
}

.richt-header {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.land_svg {
  padding-right: 7px;
}
.language,
.login-header {
  padding-right: 20px;
  font-size: 14px;
  font-weight: 500;
}

.signAp-button {
  width: 83px;
  border: none;
  background-color: $backroundColor-button;
  border-radius: $borderRadius-button;
  color: $color-text;
  padding: $padding-button;
  margin-right: 22px;
  font-size: 14px;
  font-weight: 500;
}

// container MAIN

main {
  max-width: 1196px;
  margin: $marginLeftRight;
}
// container MAIN section 1 - fahrrad

.fahrrad {
  display: flex;
  align-items: center;
  border: 3px solid lightgreen;
  width: 100%;
}

.left_container {
  display: flex;
  flex-direction: column;
  margin-top: 98px;
  margin-bottom: 98px;
  gap: 24px;
  margin-right: 54px;
  max-width: 608px;
}
.left_container > h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  color: $colorText;
}
.left_container > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.join-meetup {
  background-color: $backroundColor-button;
  border-radius: $borderRadius-button;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text;
  width: 125px;
  padding: $padding-button;
  border: none;
  cursor: pointer;
}
.join-meetup:hover {
  background-color: rgb(255, 82, 154);
  color: $colorText;
  transition: all 0.5s ease;
}

.right_container > img {
  max-width: 379px;
  max-height: 269px;
}

// section - 3 HEADING

.heading-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  margin-top: 122px;
  border: 2px solid yellow;
}

.left-heading {
  display: flex;
  gap: 25px;
}
.left-heading > h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  color: $colorText;
}
.left-heading > input {
  background-color: rgba(151, 202, 209, 0.2);
  color: $backroundColor-button;
  background-image: url(/assets/icons/Link.svg);
  background-repeat: no-repeat;
  background-position: 240px;
  border: none;
  padding-left: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  border-radius: 5px;
}

.right-heading {
  display: flex;
  align-items: center;
}
.right-heading > a {
  color: $backroundColor-button;
}

// section - 4 PLAN OF EVENTS

.plan-of-events {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 2px solid blue;

  margin-top: 24px;
}
.banner-event {
  display: flex;
  position: relative;
  max-width: 272px;
  max-height: 153px;
}
.onlineEvent {
  position: absolute;
  top: 0;
  background-image: url(/assets/icons/camera.svg);
  background-position: 5px;
  background-repeat: no-repeat;
  width: 105px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: $color-input;
  border: none;
  padding: 2px 10px 2px 25px;
  margin-left: 7px;
  margin-top: 5px;
  border-radius: 4px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.onlineEvent:hover {
  background-color: #dfccf8;
}
.event-discription {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}
.title-event {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: $colorText;
}

.event-discription > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $color-input;
  padding: 10px 0 10px;
}
.date-of-the-event {
  display: flex;
  gap: 6px;
  margin-top: 8px;
  margin-bottom: 12px;
}
.date-of-the-event > a {
  text-transform: uppercase;
  color: $colorText;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.number-of-participants,
.format-of-the-event {
  display: flex;
  gap: 2px;
}

.number-of-participants > a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $colorText;
}
.format-of-the-event {
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .container-header {
    gap: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .counter-input {
    display: none;
  }
  //fahrrad-container
  .fahrrad {
    flex-direction: column;
    margin-left: 0;
  }
  .left_container {
    margin: 30px 21px 10px 21px;
  }
  .left_container > h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .join-meetup {
    display: none;
  }
  .left_container > p {
    font-size: 12px;
  }
  // sectiom - HEADING

  .heading-container {
    margin: 20px 0px 10px 0px;
  }

  .left-heading > input {
    max-width: 239px;
    background-position: 200px;
  }
}
@media screen and (max-width: 768px) {
  .container-header {
    flex-wrap: wrap;
  }
  .left-header {
    width: 100%;
  }
  .richt-header {
    width: 100%;
  }

  #searchInput {
    width: 75% !important;
  }
  .logo {
    display: none;
  }

  .logo-mobil {
    display: block;
    margin-right: 25%;
    margin-left: 10px;
  }

  .left-header {
    flex-basis: 100%;
    order: 1;
  }

  //section-3 - HEADING

  .heading-container {
    justify-content: center;
  }

  .right-heading {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .logo-mobil {
    margin-left: 15px;
    margin-right: 15%;
  }
  //fahrrad-container
  .right_container > img {
    max-width: 215px;
    max-height: 152px;
  }

  // //section-3 - HEADING

  .left-heading > h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .left-heading > input {
    // background-position: 140px;
    font-size: 18px;
    line-height: 16px;
  }
}
@media screen and (max-width: 425px) {
  .search {
    margin-right: 31px;
  }

  .signAp-button {
    width: 71px;
    padding: 7px 13px;
    margin-right: 7px;
    font-size: 12px;
    font-weight: 500;
  }
  .language,
  .login-header {
    padding-right: 10px;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (max-width: 398px) {
  .container-header {
    min-width: 320px;
  }
  .logo-mobil,
  #searchInput {
    margin-left: $margen-left;
  }

  .language,
  .login-header {
    padding-right: 7px;
  }

  // //section-3 - HEADING
  .heading-container {
    margin-left: 21px;
    margin-right: 0px;
  }
  .left-heading > h3 {
    font-size: 16px;
    line-height: 18px;
  }
  .left-heading > input {
    max-width: 164px;
    font-size: 13px;
    line-height: 16px;
  }
}
