$color-input: #707070;
$backroundColor-button: #00798a;
$borderRadius-button: 8px;
$color-text: white;
$bordeRadius-input: 8px 0px 0px 8px;
$margen-left: 20px;
$colorText: #212121;
$padding-button: 10px 16px;
