$color-input: #707070;
$backroundColor-button: #00798a;
$borderRadius-button: 8px;
$color-text: white;
$bordeRadius-input: 8px 0px 0px 8px;
$margen-left: 20px;
$colorText: #212121;
$padding-button: 10px 16px;
$marginLeftRight: 0 158px 0 158px;
$max-width: 1196px;
$backColor: rgba(151, 202, 209, 0.08);
